h1 {
	color: blue;
	text-align: center;
	font-family: 'Indie Flower', cursive;
}

p {
	color: purple;
	text-align: center;
	font-family: 'Indie Flower', cursive;
}

h2 {
	color: blue;
	text-align: center;
	font-family: 'Indie Flower', cursive;
}

h3 {
	text-align: center;
	font-family: 'Indie Flower', cursive;
}

.blue {
	color: purple;
}
.green {
	color: black;
}

	
body {
	background-color:green;
}